body{
    background-color: yellow;
}


main{
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-auto-rows: 10vh;
}

.item1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    border-left: solid 2px black;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

.item2{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
    border: solid 2px black;
}

.item3{
    grid-row-start: 3;
    grid-row-end: 5;
    border-left: solid 2px black;
    border-right: solid 2px black;
}

.item4{
    grid-row-start: 3;
    grid-row-end: 5;
}

.item5{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;
    border-left: solid 2px black;
    border-right: solid 2px black;
}

.item6{
    grid-column-start: 4;
    grid-row-start: 4;
    grid-row-end: 8;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
}

.item7{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 8;
    border: solid 2px black;
}

.item8{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 8;
    border-top: solid 2px black;
    border-left: solid 2px black;
    border-bottom: solid 2px black;
}